{
  "presets": [
    ["@babel/preset-env", {
      "modules": "cjs"
    }],
    ["@babel/preset-react"]
  ],
  "plugins": [
    ["@babel/plugin-transform-class-properties"],
    ["@babel/plugin-proposal-export-default-from"]
  ]
}
 
